.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar {
  margin-bottom: 30px;
}

/* App.css */
body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 20px; /* Adjust padding as needed */
  margin-top: 20px; /* Add margin to create space from the top */
  border-radius: 20px; /* Optional: Add rounded corners */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: Add some opacity to make text readable */
}
